//variable color
$color-grey: #4a4a4a;
$color-white: #fff;
$color-black: #000;
.menu-item {
    min-width: 30%;
    height: 240px;
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid $color-black;
    margin: 0 7.5px 15px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    &.large {
        height: 380px;
    }
    &:first-child {
        margin-right: 7.5px;
    }
    &:last-child {
        margin-left: 7.5px;
    }
    .content {
        height: 90px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border: 1px solid $color-black;
        .title {
            font-weight: bold;
            margin-bottom: 6px;
            font-size: 2.2rem;
            color: $color-grey;
        }
        .sub-title {
            font-weight: lighter;
            font-size: 1.6rem;
        }
    }
}
